@use '../../../styles/variables' as variables;
@use '../../../styles/abstracts/mixins' as mixins;

.skills {
  padding: 96px 0;
  background-color: rgb(var(--bg-main));
  color: rgb(var(--text-main-color));

  &__content {
    @include mixins.section-content;
  }

  &__wrapper {
    &-title {
      @include mixins.column-center;
    }
  }

  @media (width <= 1535px) {
    padding: 80px 0;
  }

  @media (width <= 676px) {
    padding: 64px 0;
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    justify-items: center;
    row-gap: 48px;

    @media (width <= 1023px) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      row-gap: 32px;
    }

    @media (width <= 767px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      row-gap: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  &__text {
    &-info {
      font-size: 18px;
      line-height: 24px;

      @media (width <= 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__title {
    &-main {
      @include mixins.title-main;
    }
  }

  &__subtitle {
    &-section {
      @include mixins.subtitle-section;
    }
  }
}
