<section class="skills">
  <div class="skills__content container">
    <div class="skills__wrapper-title">
      <h2 class="skills__title-main">Навыки</h2>
      <h3 class="skills__title-secondary">Что я умею и с чем работаю:</h3>
    </div>
    <ul class="skills__list">
      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/js-icon.svg" width="64" height="64" alt="JavaScript">
        </a>
        <p class="skills__text-info">JavaScript</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/ts-icon.svg" width="65" height="64" alt="TypeScript">
        </a>
        <p class="skills__text-info">TypeScript</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/angular-icon.svg" width="64" height="64" alt="Angular">
        </a>
        <p class="skills__text-info">Angular</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/node-js-icon.svg" width="57" height="64" alt="Node.js">
        </a>
        <p class="skills__text-info">Node.js</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/mysql-icon.svg" width="64" height="64" alt="MySql">
        </a>
        <p class="skills__text-info">MySql</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/git-icon.svg" width="64" height="64" alt="Git">
        </a>
        <p class="Git">JavaScript</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/scss-icon.svg" width="65" height="64" alt="Sass/Scss">
        </a>
        <p class="skills__text-info">Sass/Scss</p>
      </li>

      <li class="skills__item">
        <a class="skills__link" href="#">
          <img src="/assets/images/vector/figma-icon.svg" width="44" height="64" alt="Figma">
        </a>
        <p class="skills__text-info">Figma</p>
      </li>
    </ul>
  </div>
</section>
