<section id="contacts" class="contacts">
  <div class="contacts__content container">
    <div class="contacts__wrapper-title">
      <h2 class="contacts__title-main">Будем на связи</h2>
      <p class="contacts__subtitle">
        Что дальше? Если вы ищете разработчика, у вас есть вопрос или вы просто
        хотите познакомиться — смело пишите!
      </p>
    </div>
    <div class="contacts__wrapper-communications">
      <div class="contacts__wrapper-link">
        <p class="contacts__text contacts__text--mail">sergey&#64;malyuga.ru</p>
        <a
          class="contacts__link contacts__link--mail"
          aria-label="Написать мне"
          href="mailto:sergey@malyuga.ru"
        >
          <svg aria-hidden="true">
            <use
              href="/assets/images/vector/link-contact-icon.svg#link-contact-icon"
            />
          </svg>
        </a>
      </div>
      <div class="contacts__wrapper-link">
        <p class="contacts__text contacts__text--phone">+7 (910) 120-22-24</p>
        <a
          class="contacts__link contacts__link--phone"
          aria-label="Позвонить мне"
          href="tel:+79101202224"
        >
          <svg aria-hidden="true">
            <use
              href="/assets/images/vector/link-contact-icon.svg#link-contact-icon"
            />
          </svg>
        </a>
      </div>
    </div>
    <div class="contacts__wrapper-socials">
      <p>Меня также можно найти здесь:</p>
      <ul class="contacts__list-social">
        <li>
          <a
            class="contacts__link contacts__link--max"
            href="https://max.ru/join/iAKX1OPqx_4hGf_SNfMz-6awnsX4QFF4fcUDAdyS518"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Max"
          >
            <svg aria-hidden="true">
              <use href="/assets/images/vector/max_logo.svg#max-logo" />
            </svg>
          </a>
        </li>

        <li>
          <a
            class="contacts__link contacts__link--github"
            href="https://github.com/SergeyMalyuga"
            target="_blank"
            aria-label="GitHub"
            rel="noopener noreferrer"
          >
            <svg aria-hidden="true">
              <use href="/assets/images/vector/github-log.svg#github-logo" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
