@mixin hover-bg {
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: rgb(var(--interactive-hover-bg));
  }

  &:active {
    background-color: rgb(var(--interactive-active-bg));
  }
}

@mixin title-main {
  color: rgb(var(--title-section-color));
  background-color: rgb(var(--title-section-bg));
  text-align: center;
  width: max-content;
  padding: 4px 20px;
  font-weight: 400;
  border-radius: 12px;
  font-size: 15px;
}

@mixin span-tools {
  display: block;
  color: rgb(var(--tools-text-color));
  background-color: rgb(var(--tools-bg));
  text-align: center;
  width: min-content;
  padding: 4px 20px;
  font-weight: 400;
  border-radius: 12px;
  font-size: 15px;
  line-height: 20px;
}

@mixin subtitle-section {
  font-size: 20px;
  line-height: 28px;

  @media (width <= 767px) {
    font-size: 18px;
    line-height: 28px;
  }
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@mixin section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @media (width <= 767px) {
    gap: 24px;
  }
}
