<section class="about">
  <div class="about__content container">
    <h2 class="about__title-main">Обо мне</h2>
    <div class="about__wrapper-info">
      <div class="about__block-image">
        <div class="about__wrapper-image">
          <img src="/assets/images/raster/about-me-2.jpg" width="400" height="533"
               alt="Фотография Сергея Малюги, фронтенд-разработчика">
        </div>
      </div>
      <div class="about__block-text">
        <h3 class="about__title-block">🔍 Кто я такой? Вот моя история:</h3>
        <p class="about__text-info">Я начинающий frontend-разработчик, специализирующийся на Angular и чистом
          JavaScript.
          Меня увлекает создание цифровых продуктов, в которых техническая часть и визуальная эстетика
          работают в гармонии. Для меня важны пользовательский опыт, внимание к деталям и написание
          чистого, понятного кода. Также осваиваю создание баз данных, чтобы лучше понимать
          полную картину разработки.</p>
        <p class="about__text-info">Мой путь в программировании начался в 2022 году с Java, но очень быстро я понял,
          что моё сердце принадлежит фронтенду. С тех пор я полностью погрузился в изучение
          веб-разработки, и каждый день открываю для себя что-то новое. Сейчас я в начале
          своего пути, но уже твёрдо стою на ногах как frontend-разработчик, специализируясь
          на Angular и чистом JavaScript. Впереди ещё много открытий — от углубления в базы данных
          до освоения современных фреймворков, но главное — я нашёл дело, которое люблю.</p>
        <p class="about__text-info"> Мыслю не просто как исполнитель, а как создатель продукта. Мне интересно
          всё — от зарождения идеи до её технической реализации. Такой подход помогает
          писать более осмысленный код и лучше понимать потребности пользователей.
        </p>
        <p class="about__text-info">
          Моё обучение не останавливается, даже когда я не пишу код. На GitHub
          выкладываю всё, что создаю. Так я расту и впитываю лучшие практики
          каждый день.
        </p>
        <p class="about__text-info">Ещё пара слов обо мне:</p>

        <div class="about__wrapper-list">
          <ul class="about__list">
            <li class="about__list-item">🎓 Фронтенд-разработчик</li>
            <li class="about__list-item">💼 Full-time фрилансер</li>
          </ul>
          <ul class="about__list">
            <li class="about__list-item">📚 Постоянно учусь новому</li>
            <li class="about__list-item">🚀 Мечтаю о своём стартапе</li>
          </ul>
        </div>

        <p class="about__text-info"> Открыт к фриланс-проектам — пишите! 😊</p>

      </div>
    </div>
  </div>
</section>
