<header class="header-main">
  <div class="header-main__content container">
    <a class="header-main__link-logo" href="/">
      <img
        [src]="currentTheme() === Theme.DARK ? '/assets/images/vector/logo-light.svg' :  '/assets/images/vector/logo-dark.svg'"
        width="180" height="50" alt="Логотип компании 'MLG development'">
    </a>
    <div class="header-main__nav">
      <app-main-nav/>
      <div class="header-main__actions">
        <app-theme-toggle/>
        <button class="header-main__button header-main__button-burger">
          <svg width="24" height="24">
            <use href="./assets/images/vector/burger.svg#burger"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
