@use '../../../styles/variables' as variables;
@use '../../../styles/abstracts/mixins' as mixins;

.header-main {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(var(--gray-default) / 50%);
  backdrop-filter: blur(20px);
  z-index: 10;
  border-bottom: 1px solid rgb(var(--gray-100));

  &__link {
    &-logo {
      img {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @media (width <= 768px) {
      justify-content: space-between;
    }
  }

  &__nav {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-left: auto;
  }

  &__button {
    @include mixins.hover-bg;

    &-burger {
      display: none;
    }

    @media (width <= 768px) {
      &-burger {
        display: block;
      }
    }
  }
}
