<header class="header-main">
  <div class="header-main__content container">
    <a class="header-main__link-logo" href="/">
      <img
        ngSrc="/assets/images/vector/logo.svg"
        width="200" height="50" alt="Логотип компании 'MLG development'" priority>
    </a>
    <div class="header-main__nav">
      <app-main-nav [isVisible]="isNavMenuVisible()"/>
      <div class="header-main__actions">
        <app-theme-toggle [isVisible]="isNavMenuVisible()"/>
        <button appToggle (toggled)="toggleDialog()" class="header-main__button header-main__button-burger">
          <svg width="24" height="24">
            <use href="./assets/images/vector/burger.svg#burger"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

  <div class="header-main__dialog" [class.header-main__dialog--open]="isDialogOpen()" [attr.aria-hidden]="isDialogOpen()">
    <div class="header-main__wrapper-dialog">
      <div class="header-main__dialog-header">
        <a class="header-main__link-logo" href="/">
          <img
            ngSrc="/assets/images/vector/logo.svg"
            width="140" height="35" alt="Логотип компании 'MLG development'" priority>
        </a>
        <button appToggle (toggled)="toggleDialog()" class="header-main__button header-main__button-close" type="button">
          <svg width="24" height="24">
            <use href="/assets/images/vector/close-icon.svg#close-icon"/>
          </svg>
        </button>
      </div>
      <app-main-nav [isVisible]="isDialogOpen()"/>
      <div class="header-main__dialog-footer">
        <p class="header-main__text-dialog">Переключить тему</p>
        <app-theme-toggle [isVisible]="isDialogOpen()"/>
      </div>
    </div>
  </div>
