@use '../../../styles/variables' as variables;
@use '../../../styles/abstracts/mixins' as mixins;

.header-main {
  padding: 16px 0;

  &__link {
    &-logo {
      img {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @media (width <= 768px) {
      justify-content: space-between;
    }
  }

  &__nav {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-left: auto;
  }

  /*
  &__nav {
    margin: 0 30px 0 auto;

    @media (width <= 768px) {
      display: none;
    }
  }

  &__list {
    &-nav {
      display: flex;
      gap: 1.5rem;
      font-weight: 500;

      &::after {
        content: '';
        display: block;
        width: 2px;
        align-self: stretch;
        background-color: rgb(var(--gray-100));
      }
    }
  }

  &__actions {
    line-height: 0;
  }

  &__link {
    &-nav {
      text-decoration: none;
      color: rgb(var(--text-main-color));
      font-family: variables.$font-family-primary;
      font-size: 18px;
      line-height: 1.5rem;
      transition: filter 0.5s ease;

      &:hover {
        filter: brightness(80%);
      }

      &:active {
        filter: brightness(60%);
      }
    }
  }
  */
  &__button {
    @include mixins.btn-action;

    &-burger {
      display: none;
    }

    @media (width <= 768px) {
      &-burger {
        display: block;
      }
    }
  }
}
