@use '../../../styles/variables' as variables;

.main-nav {
  display: none;

  &__list {
    &-nav {
      display: flex;
      gap: 1.5rem;
      font-weight: 500;

      &::after {
        content: '';
        display: block;
        width: 2px;
        align-self: stretch;
        background-color: rgb(var(--gray-100));
      }

      @media (width <= 768px) {
        flex-direction: column;
        padding: 15px;
        border-top: 1.5px solid rgb(var(--gray-100));
        border-bottom: 1.5px solid rgb(var(--gray-100));

        &::after {
          content: none;
        }
      }
    }
  }

  &__link {
    &-nav {
      text-decoration: none;
      color: rgb(var(--link-main-color));
      font-family: variables.$font-family-primary;
      font-size: 18px;
      line-height: 1.5rem;
      transition: color 0.5s ease;

      &:hover {
        color: rgb(var(--link-main-hover-color));
      }

      &:active {
        color: rgb(var(--link-main-active-color));
      }
    }
  }

  &--open {
    display: block;
  }
}
