<section class="works">
  <div class="works__content container">
    <div class="works__wrapper-title">
      <h2 class="works__title-main">Работы</h2>
      <p class="works__subtitle-section">Вот несколько моих работ:</p>
    </div>
    <ul class="works__list-cards">
      <li class="works__item-card">
        <article class="works__card">
          <div class="works__block-link">
            <a class="works__link-work" href="https://github.com/SergeyMalyuga/cyberpunk" target="_blank"
               rel="noopener noreferrer">
              <img src="/assets/images/raster/cyber-punk.jpg" width="1699" height="1225" alt="CyberPunk">
            </a>
          </div>
          <div class="works__block-info">
            <p>A platform for comparing and finding affordable flights, as well as booking and purchasing tickets safely
              and easily in a few simple clicks.</p>
          </div>
        </article>
      </li>

      <li class="works__item-card">
        <article class="works__card">
          <div class="works__block-link">
            <a class="works__link-work" href="https://github.com/SergeyMalyuga/moon-river" target="_blank"
               rel="noopener noreferrer">
              <img src="/assets/images/raster/moon-river.jpg" width="1696" height="1225" alt="CyberPunk">
            </a>
          </div>
          <div class="works__block-info">
            <p>A platform for comparing and finding affordable flights, as well as booking and purchasing tickets safely
              and easily in a few simple clicks.</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
