<section class="hero">
  <div class="hero__content container">
    <div class="hero__wrapper-column-left">
      <div>
        <h1 class="hero__title-main">
          Привет! Меня зовут Сергей
          <span class="hero__emoji-hand">👋</span>
        </h1>
        <p class="hero__text-info">
          I'm a full stack developer (React.js & Node.js) with a focus on creating (and occasionally designing) exceptional
          digital experiences that are fast, accessible, visually appealing, and responsive. Even though I have been
          creating web applications for over 7 years, I still love it as if it was something new.
        </p>
      </div>
      <div class="hero__info">
        <div class="hero__info-flex hero__location">
          <svg width="24" height="24">
            <use href="/assets/images/vector/marker.svg#marker"/>
          </svg>
          <p>Россия, г. Нижний Новгород</p>
        </div>

        <div class="hero__info-flex hero__work-status">
          <div class="hero__wrapper-point">
            <span class="hero__point"></span>
          </div>
          <p>Готов к новым проектам</p>
        </div>

      </div>
      <ul class="hero__list-social">
        <li>
          <a class="hero__link hero__link--max" href="https://max.ru/join/iAKX1OPqx_4hGf_SNfMz-6awnsX4QFF4fcUDAdyS518" target="_blank" aria-label="Max">
            <svg width="24" height="24">
              <use href="/assets/images/vector/max_logo.svg#max-logo"/>
            </svg>
          </a>
        </li>

        <li>
          <a class="hero__link hero__link--github" href="https://github.com/SergeyMalyuga" target="_blank" aria-label="GitHub">
            <svg width="24" height="24">
              <use href="/assets/images/vector/github-log.svg#github-logo"/>
            </svg>
          </a>
        </li>

      </ul>
    </div>

  </div>
</section>
