<section class="hero">
  <div class="hero__content container">
    <div class="hero__wrapper-block-text">
      <div class="hero__wrapper-title">
        <h1 class="hero__title-main">
          Привет, я Сергей
          <span class="hero__emoji-hand" aria-hidden="true">👋</span>
        </h1>
        <p class="hero__text-info">
          Frontend-разработчик, специализирующийся на Angular и
          JavaScript/Node.js. Создаю быстрые, доступные и отзывчивые
          веб-приложения с вниманием к деталям. Постоянно расту как специалист и
          бесконечно влюблён во фронтенд ❤️
        </p>
      </div>
      <div class="hero__info">
        <div class="hero__info-flex hero__location">
          <svg width="24" height="24" aria-hidden="true">
            <use href="/assets/images/vector/marker.svg#marker" />
          </svg>
          <p>Россия, г. Нижний Новгород</p>
        </div>

        <div class="hero__info-flex hero__work-status">
          <div class="hero__wrapper-point" aria-hidden="true">
            <span class="hero__point"></span>
          </div>
          <p>Готов к новым проектам</p>
        </div>
      </div>
      <ul class="hero__list-social">
        <li>
          <a
            class="hero__link hero__link--max"
            href="https://max.ru/join/iAKX1OPqx_4hGf_SNfMz-6awnsX4QFF4fcUDAdyS518"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Max"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="/assets/images/vector/max_logo.svg#max-logo" />
            </svg>
          </a>
        </li>

        <li>
          <a
            class="hero__link hero__link--github"
            href="https://github.com/SergeyMalyuga"
            target="_blank"
            aria-label="GitHub"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="/assets/images/vector/github-log.svg#github-logo" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="hero__wrapper-block-image">
      <div class="hero__wrapper-image">
        <img
          src="/assets/images/raster/hero-me-square.jpg"
          width="330"
          height="330"
          alt="Фотография Сергея Малюги, фронтенд-разработчика"
        />
      </div>
    </div>
  </div>
</section>
