@use '../../../styles/variables' as variables;
@use '../../../styles/abstracts/mixins' as mixins;

.hero {
  padding: 96px 0;

  @media (width <= 1535px) {
    padding: 80px 0;
  }

  @media (width <= 676px) {
    padding: 64px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (width <= 792px) {
      flex-direction: column;
    }
  }

  &__wrapper {
    &-block {
      &-text {
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (width <= 792px) {
          width: 100%;
          order: 1;
        }
      }

      &-image {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @media (width <= 792px) {
          justify-content: center;
          order: 0;
        }
      }
    }

    &-point {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }

    &-image {
      position: relative;
      max-width: 330px;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      img {
        display: block;

        @media (width <= 375px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__title {
    &-main {
      color: rgb(var(--title-color));
      font-size: 55px;
      line-height: 72px;
      margin-bottom: 16px;

      @media (width <= 1023px) {
        font-size: 48px;
        line-height: 100%;
      }

      @media (width <= 767px) {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }

  &__emoji {
    &-hand {
      display: inline-block;
      animation: wave 1.2s linear 3;
      animation-direction: alternate;
    }
  }

  &__text {
    &-info {
      color: rgb(var(--text-main-color));
      line-height: 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-flex {
      display: flex;
      gap: 8px;
      color: rgb(var(--text-main-color));
    }
  }

  &__point {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(var(--green));

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(var(--green));
      animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    }
  }

  &__list {
    &-social {
      display: flex;
      gap: 4px;
    }
  }

  &__link {
    @include mixins.hover-bg;

    display: block;
    color: rgb(var(--link-main-color));
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*ping 1s cubic-bezier(0, 0, .2, 1) infinite;*/
/*
@keyframes wave {
  to {
    transform: rotate(0);
  }

  from {
    transform: rotate(14deg);
  }
}
*/

/*@keyframes wave { //TODO выбрать вариант анимации
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}*/
